### Import Pandas

### Get the type, head, columns, shape, and index of the dataframe

In [1]:
import pandas as pd
df = pd.read_csv("../data/iris.csv")
print(type(df))
print(df.head())
print(df.columns)
print(df.shape)
print(df.index)


print(df.iloc[1])
print(df.iloc[1,1])

<class 'pandas.core.frame.DataFrame'>
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
(150, 5)
RangeIndex(start=0, stop=150, step=1)
sepal_length       4.9
sepal_width        3.0
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object
3.0

### Get the value of a row of the df

In [2]:
print(df.iloc[2])
#Get the value of an entry in the df
print(df.iloc[2,2])

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object
1.3

### Take a copy of the dataframe (df2) and set the value of an entry in df2. Print the
### value of the entry in df and df2.

In [3]:
df2 = df.copy()
print(df2.head())
df2.iloc[1,1] = 100
#print(df2)
print(df2.iloc[1,1])
#print(df)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
100.0

### Define dataframes X and y where X contains the feature values in the dataframe
### and y contains the target values.

In [4]:
x = df[["sepal_length" , "sepal_width" , "petal_length", "petal_width" ]].to_numpy()
y = df["species"].to_numpy()
print(type(x))
print(type(y))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

### Define dataframes X and y where X contains the feature values in the dataframe
### and y contains the target values. Use df.drop() to define X and and df.species to
### define y

In [5]:
print(df.head())
X = df.drop("species" , axis = "columns")
Y = df.species
X.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2