### Import Pandas

In [2]:
import pandas as pd

### Read the iris dataset from a csv file stored in a folder called data, into a dataframe.

In [ ]:
df = pd.read_csv("data/iris.csv")

### Get the type, head, columns, shape, and index of the dataframe

In [11]:
print(type(df))
print(df.head())
print(df.columns)
print(df.shape)
print(df.index)

<class 'pandas.core.frame.DataFrame'>
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
(150, 5)
RangeIndex(start=0, stop=150, step=1)
sepal_length       4.9
sepal_width        3.0
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object
3.0

### Get the value of a row of the df

In [ ]:
print(df.iloc[1])

### Get the value of an entry in the df

In [ ]:
print(df.iloc[1,1])

### Take a copy of the dataframe (df2) and set the value of an entry in df2. Print the value of the entry in df and df2

In [14]:
df2 = df.copy()

df2.iloc[1,1] = 100
print(df2.iloc[1,1])
print(df.iloc[1,1])

3.0
100.0

In [15]:
print(df.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Dataframes - Selecting Columns
#### Define dataframes X and y where X contains the feature values in the dataframe and y contains the target values.

In [17]:
X = df[["sepal_length","sepal_width","petal_length","petal_width"]]
y = df["species"]
print(type(X))
print(type(y))
print(X.shape)
print(y.shape)
# print(X.head())
# print(y.head())

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(150, 4)
(150,)

### Convert X and y to ndarrays.

In [23]:
X = df[["sepal_length","sepal_width","petal_length","petal_width"]].to_numpy()
y = df["species"].to_numpy()
print(type(X))
print(type(y))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

### Define dataframes X and y where X contains the feature values in the dataframe and y contains the target values. Use df.drop() to define X and and df.species to define y.

In [27]:
print(df.head())
X = df.drop("species", axis="columns")
y = df.species
X.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2